*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}

html{
    font-size:10px;

}

body{
    font-family: 'Climate Crisis', cursive;
    font-family: 'Golos Text', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Single Day', cursive;
    font-size:1.6rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: #fff;
}
/* NAVBAR*/
nav{
    width: 100%;
font-family: Montserrat;
background-color:#e28743;
color:white;
padding-top:2rem;
padding-bottom:2rem;
position: fixed;


}
.container{
    width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0..5rem;

}
a{
    text-decoration:none;
}
ul{
    list-style-type: none;
}

#logo-box{
    float: left;
    padding-top:0.5rem;
}
#logo-box .logo{
    color:#fff;
    font-weight:700;
    font-size: 2.8rem;
}
#nav-links{
    float:right;
}
#nav-links .nav-item{
    float:left;
    margin:0.5rem;
    
    color:#fff;
}
#nav-links .nav-link{
    color:#fff;
    font-size:1.6rem;
    font-weight: 700;
    display: block;
    padding:1.6rem;
    letter-spacing: 0.1rem;
    transition: 0.5s;



}
#nav-links .nav-link:hover{
    color:#1ABC9B;
}
header{
    background-color:#fff;
    padding-top:150px;
    text-align:center;
}
.fp{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 5px 5px 15px black;
    font-size: 32px;
    color:#e28743;

}
.hbc{

    padding-top:50px;
    padding-bottom: 50px;
    text-align: center;
    color:black;
    
}
.img2{
    width: 100%;
    height: 30rem;
}
.section-1{
    background-color:antiquewhite;
  
}
.lorem{
    color:black;
   padding: 50px;
}
.button-1{
 margin-top:1px;
 margin-left:600px;
 padding:10px 50px 10px 50px;
 border-radius: 10px;
 width:300px;


}
#sss-search{
    width: 1140px;
    height: 30px;
}
.ss-search{
    height: 30px;
    width: 50px;

}
.i-button{
    width:500px;
    height: 50px;
   margin-top:10px;
   background-color: #e28743;
   border-radius: 15px;
   margin-bottom: 15px;;
}
form{

   text-align: center;
   background-color:antiquewhite;
   

    
}
input{ 
    width: 250px;
    height: 30px;
}
.footer{
    text-align:Center;
    margin-top: 20px;
    margin-bottom: 20px;
    position: sticky;
    font-weight: bold;
  
}
.article-2{

}
.a-2{
    width: 300px;
    display: block;
    height: 50px;
    border-radius: 5px;
    margin-left:600px;
    color:#e28743;

}
